aws-github-backup/app/step-functions.yml
stateMachines:
  BatchWorker:
    name: ${self:service}-BatchWorker
    # events:
    #   - schedule: cron(0 0 ? * MON-FRI *) # JST AM 9:00 (Monday - Friday)
    loggingConfig:
      level: ERROR
      includeExecutionData: true
      destinations:
        - !GetAtt MyBatchWorkerLogGroup.Arn
    role: !GetAtt MyStateMachineIAMRole.Arn
    definition:
      StartAt: RunWorkerTask
      States:
        # タスク実行
        RunWorkerTask:
          Type: Task
          Resource: "arn:aws:states:::ecs:runTask.sync"
          Parameters:
            Cluster: !Ref MyECSCluster
            TaskDefinition: !Ref MyECSTaskDefinition
            LaunchType: "FARGATE"
            NetworkConfiguration:
              AwsvpcConfiguration:
                AssignPublicIp: "ENABLED"
                SecurityGroups:
                  - !Ref MyECSSecurityGroup
                Subnets:
                  - !ImportValue ${self:custom.infraStack}-PublicSubnet1Id
            Overrides:
              ContainerOverrides:
                - Name: worker
                  Environment:
                    - Name: "GITHUB_OWNER"
                      Value: ${self:custom.repoOwner}
                    - Name: "GITHUB_TOKEN"
                      Value: ${self:custom.githubToken}
          # Catch:
          #   - ErrorEquals:
          #       - "States.ALL"
          #     Next: OnRedmineAPIError
          Next: Succeed

        # # Slack レポート送信用文字列作成
        # MakeReportPost:
        #   Type: Task
        #   Resource: !GetAtt MakeReportPostLambdaFunction.Arn
        #   Parameters:
        #     items.$: $.targetIssues
        #   ResultPath: $.slackBlocks
        #   Next: PostToSlack

        # # Slack に投稿
        # PostToSlack:
        #   Type: Task
        #   Resource: !GetAtt PostToSlackLambdaFunction.Arn
        #   Parameters:
        #     blocks.$: $.slackBlocks
        #   Next: Succeed

        # 正常終了
        Succeed:
          Type: Succeed

        # エラー
        # OnRedmineAPIError:
        #   Type: Fail
        #   Cause: "Failed to fetch data from Redmine API"
        #   Error: "Redmine API Error"
